.calculator-button {
  height: 80px;
  border-radius: 50%;
  margin: 8px 0;
  background-color: darkslategray;
  color: white;
  font-size: 1em;
  cursor: pointer;

  &.mergecell-right {
    border-radius: 50px;
    grid-column: 1/3;
  }

  &:hover {
    background-color: dimgray;
  }
}
